# Dart/Flutter
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
build/

# IDE
.idea/
*.iml
.vscode/
*.swp

# Android
android/.gradle/
android/local.properties
android/key.properties
**/*.jks

# iOS/macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/.last_build_id
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
macos/Pods/
macos/Flutter/ephemeral/

# OS
.DS_Store
Thumbs.db
